[run]
branch = True
relative_files = True
data_file = .coverage
source=event_routing_backends
omit =
    test_settings
    *migrations*
    *admin.py
    *static*
    *templates*
[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
